<%= form_with model: ([@post, @post.comments.build]) do |form| %>
  
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
