<h1  class="cotainer d-flex justify-content-center my-3 "><u>Contacts</u></h1>
<div class="container my-3>
  <p style="color: green"><%= notice %></p>
  <div id="posts" class= "">
  <table class="table justify-content-center">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Number</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
   <%= render "person" %>
    </tbody>
    </table>
 </div>

 <%= link_to "New person", new_person_path %>