<div class="container">
    <div class="row row-col-1">
        <div class="col">
    <h1><%= @user.first_name %> <%= @user.last_name %>
    <p>Email: <%= @user.email %> </p>
  
        </div>
    </div>
</div>