<div id="<%= dom_id item %>">
  <p>
    <strong>Invoice:</strong>
    <%= item.invoice_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

</div>
